apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-app
  template:
    metadata:
      labels:
        app: api-app
    spec:
      containers:
        - name: api-app
          image: acrdemodev.azurecr.io/appdemo:v1
          ports:
            - containerPort: 3000
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD

            - name: DB_HOST
              value: "pgserver-aks-demo-001.postgres.database.azure.com"

            - name: DB_USER
              value: "pgadmin"

            - name: DB_NAME
              value: "postgres"

            - name: DB_PORT
              value: "5432"

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
