trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  ACR_NAME: aksdemoacr       # nombre real
  IMAGE_NAME: api
  DOCKERFILE_PATH: app/Dockerfile
  IMAGE_TAG: $(Build.BuildId)

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'MyServiceConnection'   # tu service connection
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az acr login -n $ACR_NAME
      docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG -f $DOCKERFILE_PATH ./app
      docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG
