trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  ACR_NAME: "<your_acr>"
  IMAGE_NAME: "app"

steps:
- checkout: self

- task: DockerInstaller@0

- script: |
    echo "Login ACR"
    az acr login --name $(ACR_NAME)
  displayName: "Login ACR"

- script: |
    docker build -t $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(Build.BuildId) .
    docker push $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(Build.BuildId)
  displayName: "Build & Push"

- task: KubernetesManifest@1
  inputs:
    action: deploy
    manifests: |
      k8s/deployment.yaml
      k8s/service.yaml
      k8s/ingress.yaml
    containers: |
      $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(Build.BuildId)
